{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block body %}

    <form action="{% url 'pg_create' %}" method="post">
        {% csrf_token %}
        <label for="title">
            <h2>Title:</h2>
        </label>
        <br>
        <input type="text" name="title" id="title">
        <br>
        <label for="entry_content">
            <h2>Content:</h2>
        </label>
        <br>
        <textarea name="content" id="entry_content" rows="5"></textarea>
        <br>
        <input type="submit" value="Save">
    </form>

{% endblock %}