{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block body %}
    <h2>Title: {{ title_content }}</h2>
    <form action="{% url 'edit' title_content %}" method="post">
        {% csrf_token %}
        <label for="entry_content">
            <h2>Edit Content:</h2>
        </label>
        <br>
        <textarea name="content" id="entry_content" >{{ textarea_content }}</textarea>
        <br>
        <input type="submit" value="Save changes">
    </form>

{% endblock %}